$MainBg: linear-gradient(to right top, #dce35b 5%, #45b649 79%);
$ButtonBg: linear-gradient(to right, rgba(247, 81, 195, 1) 35%, #B91D73 100%);
$BgProduct: linear-gradient(to  right top, #434343 1%, #000 49%);
$BgTwo: linear-gradient(to  right top, #F953C6 1%, #B91D73 49%);
$BgBlue: linear-gradient(to right top, #2F80ED 27%, #56CCF2 71%);