@import 'const';

/** conts **/
.solid {
    position: fixed;
    background: #000000bf;
    transition: 3s;
}

.preview {
    font-family: 'PTSerif';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.96vmax;
    margin-bottom: 1rem;
}

.center {
    display: flex;
    align-items: center;
}

.rows {
    display: flex;
    justify-content: space-between;
}

.fa-ruble-sign {
    font-size: 13pt;
}

.btn {
    background: $ButtonBg;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 70px;
    color: #fff;
    transition: 0.3s;
    font-size: 16pt;
    text-transform: uppercase;
    width: 280px;
    font-weight: bold;
    text-align: center;
    &:hover{
            background: linear-gradient(to right, #B91D73 100%, #B91D73 100%);

    }
}
.pulse {
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 0px 0px 0 0 #f751c3, inset 0px 0px 0 #B91D73;
    box-shadow: 0px 0px 0 0 #f751c3, inset 0px 0px 0 #B91D73;
    cursor: pointer;
    -webkit-animation: pulse 1s infinite cubic-bezier(0, 0, 1, 1);
    animation: pulse 1s infinite cubic-bezier(0, 0, 1, 1)
}

.pulse:hover {
    -webkit-animation: none;
    animation: none
}

@-webkit-keyframes pulse {
    to {
        -webkit-box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #abcbe9;
        box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #abcbe9
    }
}

@keyframes pulse {
    to {
        -webkit-box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #abcbe9;
        box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #abcbe9
    }
}
.more {
    color: #45B649;
    font-size: 2.57vmax;
    font-weight: normal;
    border-bottom: 3px dotted #45B649;
    text-transform: uppercase;
    transition: 1s;

    &:hover {
        color: #2a792d;
        border-bottom-color: #2a792d;
    }
}
.mini-image{
	display: block;
	width: 150px;
    height: 150px;
    border-radius: 50%;
}
body {
    font-family: 'PTSans';
    overflow-x: none;

    header {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 30;
        width: 100%;
        min-height: 82px;

        .text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 63px;
            }
            nav,
            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                padding-left: 0;

                li {
                    margin-right: 1.5rem;
                    font-size: 16pt;
                    color: #fff;

                    a {
                        font-size: 12pt;
                        color: #fff;
                        transition: 0.5s;

                        &:hover {
                            color: #38ff40;
                        }
                    }
                }
            }

            .social {
                .fa-vk {
                    transition: 0.5s;

                    &:hover {
                        color: #6383A8;
                    }
                }

                .fa-facebook-square {
                    transition: 0.5s;

                    &:hover {
                        color: #3B5998;
                    }
                }

                .fa-instagram {
                    transition: 0.5s;

                    &:hover {
                        color: #E4405F;
                    }
                }

                .fa-odnoklassniki {
                    transition: 0.5s;

                    &:hover {
                        color: #F4731C;
                    }
                }

                .fa-youtube {
                    transition: 0.5s;

                    &:hover {
                        color: #FF0000;
                    }
                }

                .fab {
                    font-size: 19pt;
                }
            }
        }
    }

    main {
        .slider-main {
            position: relative;
            .slick-dotted.slick-slider{
                margin-bottom: 0;
            }
            .slick-dots{
                bottom: 16px;
            }
            .slider_main {
                img {
                    width: 100%;
                    height: 100vh;
                }

                .content {
                    position: relative;

                    .text {
                        position: absolute;
                        z-index: 20;
                        top: 3%;
                        left: 20%;
                        width: 50rem; 

                        h3 {
                            font-family: 'PTSerif';
                            font-size: 70pt;
                            color: #45B649;
                            font-weight: bold;
                            margin-bottom: 1.5rem;
                        }

                        h4 {
                            font-family: 'PTSerif';
                            font-weight: bold;
                            color: #fff;
                            font-weight: normal;
                            font-size: 38pt;
                            margin-top: 0;
                            margin-bottom: 3.5rem;
                        }

                        p {
                            margin-top: 1rem;
                            line-height: 1.5;
                            font-size: 23pt;
                            color: #fff;
                            margin-bottom: 0;
                        }

                        a {
                            display: inline-block;
                            margin-top: 2rem;

                        }

                        .btn1 {
                            background: none;
                            border: 3px solid #fff;
                            margin-right: 2rem;
                        }

                        .btn2 {
                            background: $MainBg;
                        }
                    }
                }
            }

            .wrap {
                position: absolute;
                height: 100vh;
                width: 100%;
                background: #000;
                opacity: 0.55;
                z-index: 10;
            }
        }

        .donate {
            font-weight: 700;
            font-style: normal;
            background: $MainBg;

            .maney {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                border-radius: 10px;

                p {
                    display: inline-block;
                    margin: 2rem 0;
                    font-size: 18pt;
                    font-style: italic;
                }

                .forma {
                    display: flex;
                    flex-direction: column;
                    font-size: 23px;

                    span {
                        font-family: 'PTSerif';
                        font-weight: bold;
                        display: inline-block;
                        font-size: 32pt;
                        padding: 2rem 0;
                    }

                    form {
                        display: flex;
                        align-items: center;
                        .donate_form{
                            display: inline-flex;
                        }
                        .checkbox {
                            display: none;
                        }

                        label {
                            margin-bottom: 0;
                            background: #fff;
                            position: relative;
                        }

                        .checkbox + label {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 85px;
                            height: 62px;
                            border: 1px solid silver;
                            text-align: center;
                            transition: 1s;

                            &:nth-child(2) {
                                border-top-left-radius: 10px;
                                border-bottom-left-radius: 10px;
                            }

                            span {
                                font-size: 15px;
                            }
                        }

                        input {
                            width: 180px;
                            height: 62px;
                            border: 1px solid silver;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            text-align: center;
                            margin-right: 1.4rem;
                            background: none;
                            background: #fff;
                            margin-left: -0.4rem;
                        }

                        .checkbox:checked + label {
                            background: #ffcc18;
                        }

                        .checkbox:checked + label:before {}
                    }

                    button {
                        background: $ButtonBg;
                        border: none;
                        border-radius: 40px;
                        color: #fff;
                        padding: 1rem 2.5rem;
                        transition: 0.5s;
                        cursor: pointer;
                           &:hover{
            background: linear-gradient(to right, #B91D73 100%, #B91D73 100%);

    }
                    }
                }
            }
        }

        .friends {
            color: #000;
            padding-top: 7rem 0;

            .left {
                margin-top: 4rem;
            }

            h3 {
                font-family: 'PTSerif';
                font-weight: bold;
                font-size: 21px;
            }

            p {
                margin: 2rem 0;
                font-size: 18px;
            }

            .right {
                display: flex;
                justify-content: center;
                 align-items: center;
                text-align: center;
                flex-direction: column;
                font-weight: bold;
                font-size: 21pt;
                line-height: 1.7;
                text-transform: uppercase;
                background: $MainBg;
                border-radius: 30px;
                padding: 0 4rem;
                height: 400px;
                margin-top: 5rem;

                span {
                    font-size: 28pt;
                    line-height: 1.2;
                    display: block;
                }
            }
        }

        .women {
            display: flex;
            justify-content: space-between;
            margin: 8rem 0 3rem 0;
            padding: 2rem 0;
            background: $MainBg;
            position: relative;
            font-family: 'PTSerif';

            .left {
                display: flex;
                flex-direction: column;
                line-height: 1.5;
                z-index: 20;

                span {
                    text-align: right;
                }

                h2 {
                    font-family: 'PTSerif';
                    margin-bottom: 0;
                }

                p {
                    margin-top: 0.5rem;
                    font-size: 17pt;
                }

                span {
                    font-size: 15pt;
                    font-weight: bold;
                }

                a {
                    margin-top: 2rem;
                    text-align: center;
                }
            }

            img {
                position: absolute;
                z-index: 10;
                bottom: 0;
                right: 15%;
                height: 110%;
            }
        }

        .dream {
            text-align: center;
            font-weight: normal;

            h2 {
                font-family: 'PTSerif';
                font-size: 4.8vmax;
                color: #000;
                text-transform: uppercase;
                font-weight: bold;
            }

            h2,
            p {
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            span {
                color: #45B649;
                font-size: 8.7vmax;
            }

            p {
                font-size: 30px;
            }
        }

        .products {
            position: relative;
            .title {
                display: flex;
                align-items: center;
                
            }

            .product {
                display: flex;
                align-items: center;
                min-height: 433px;
                background: $BgProduct;
                a{
                    color: #fff;
                    border-bottom-color: #fff;
                }
                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 433px;
                    background: url(../img/dog.jpg) no-repeat right;
                    background-size: cover;
                    right: 0;
                        opacity: 0.65;
                }

                h3 {
                    font-family: 'PTSerif';
                    font-weight: bold;
                    color: #fff;
                    font-size: 30pt;
                    margin: 0.5rem 0;
                    text-transform: uppercase;
                }

                p {
                    color: #fff;
                    font-size: 21pt;
                    line-height: 1.5;
                    margin: 0.3rem 0;

                }

                .left {}

                .right {
                    height: 333px;
                    width: 100%;
                    padding: 0;
                }
            }

            .product-two {
                position: relative;
                background: $BgTwo;
                .left {
                    width: 100%;
                    margin-left: 55%;
                }

                &::after {
                    background: url(../img/two.jpg) no-repeat left;
                    left: 0;
                    background-size: cover;
                        opacity: 0.65;
                }
            }
            .product-three{
                background: $BgBlue; 
                                &::after {
                    background: url(../img/dog.jpg) no-repeat right;
                    right: 0;
                    background-size: cover;
                                        opacity: 0.65;
                }
            }
        }

        .advice {
            margin-top: 6rem;
            margin-bottom: 4rem;

            .left {
                h2 {
                    font-family: 'PTSerif';
                    font-weight: bold;
                }

                p {
                    line-height: 1.7;
                    margin-top: 1rem;
                    font-size: 17pt;
                }
            }

            .right {
                text-align: center;
                margin-top: 0.5rem;

                .slider-advice {
                    display: flex;
                    align-items: flex-end;
                    height: 90%;

                    h3 {
                        font-weight: normal;
                        font-size: 27pt;
                        color: #000;
                        margin: 1rem 0;
                    }

                    span {
                        color: #7C7C7C;
                        font-size: 18pt;
                    }

                    p {
                        color: #000;
                        font-size: 15pt;
                    }
                }
            }
        }

        .news {
            margin-bottom: 8rem;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    color: #000;
                    font-size: 32pt;
                }
            }

            .slider-news {
                img {
                    width: 100%;
                    height: 225px;
                }

                span {
                    display: inline-block;
                    margin-top: 1rem;
                    color: #45B649;
                    font-size: 14pt;
                }

                h4 {
                    font-family: 'PTSerif';
                    font-weight: bold;
                    color: #000;
                    font-size: 22pt;
                    margin: 1rem 0;
                }

                p {
                    color: #000;
                    font-size: 14pt;
                    line-height: 1.5;
                }

                .slid {
                    margin-left: 2.2rem;
                }
            }
        }

        .friend {
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.5rem;

                h2 {
                    font-family: 'PTSerif';
                    color: #000;
                    font-weight: bold;;
                }
            }

            .partners {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .partner {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    width: 300px;
                    margin-bottom: 4rem;

                    img {
                        width: 100%;
                        max-height: 240px;
                        margin-bottom: 2.5rem;
                    }

                    span {
                        display: block;
                        text-align: center;
                        line-height: 1.5;
                        text-transform: uppercase;
                    }

                    .one {
                        font-family: 'PTSerif';
                        font-weight: bold;
                        color: #45B649;
                        font-size: 25pt;
                    }

                    .two {
                        color: #000;
                        font-size: 19pt;
                    }
                }
            }
        }
    }

    footer {
        background: #212121;
        padding-top: 3rem;
        padding-bottom: 1.5rem;

        .two {
            a {
                color: #45B649;
                font-size: 26pt;
                transition: 1s;

                &:hover {
                    color: #2a792d;
                }
            }

            span {
                display: block;
                margin-top: 0.5rem;
                margin-bottom: 1.2rem;
                color: #fff;
                text-transform: uppercase;
                font-size: 14pt;
            }

            form {
                position: relative;
                padding: 1rem 0;
                width: 287px;

                input {
                    padding: 1rem 1.3rem 14px 0rem;
                    box-sizing: border-box;
                    width: 287px;
                    font-size: 20px;
                    border: none;
                    background: none;
                    border-bottom: 3px solid #fff;
                    color: #fff;

                    &::-webkit-input-placeholder {
                        color: #fff !important;
                    }

                    ;

                    &::-moz-input-placeholder {
                        color: #fff !important;
                    }

                    ;

                    &::-ms-input-placeholder {
                        color: #fff !important;
                    }

                    ;
                    ;

                }

                button {
                    width: 17.5px;
                    height: 20px;
                    border: none;
                    position: absolute;
                    background: #212121;
                    color: #fff;

                    right: 7%;
                    top: 42%;
                    cursor: pointer;
                }
            }
        }

        .last {
            text-align: right;
            line-height: 1.5;
            color: #fff;

            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;

                .fab {
                    color: #fff;
                    font-size: 21pt;
                    transition: 0.5s;

                    &:hover {
                        color: #45B649;
                    }
                }
            }

            a {
                margin-top: 1rem;
            }
        }

        .uppp {
            text-align: center;
            margin-top: 2rem;

            .up {
                display: inline-block;
                text-align: center;
                border: 1px solid #fff;
                border-radius: 100%;
                width: 60px;
                height: 60px;
                transition: 1s;

                &:hover {
                    border-color: #45B649;
                }

                a {
                    color: #fff;
                    font-size: 40pt;
                    width: 100%;
                    transition: 1s;

                    &:hover {
                        color: #45B649;
                    }
                }
            }
        }
    }
}
.mini-image{
	display: block;
	width: 150px;
    height: 150px;
    border-radius: 50%;
}
