@media (min-width:1600px) {
    body main .slider-main .slider_main .content .text {
        top: 10%;
    }
}
@media (max-width:1200px){
    body header {
        display: none;
    }
    .colum{
        display: flex;
        flex-direction: column;
    }
    .menu {
    display: block;
}
    body main .women .left{
        display: flex;
        align-items: flex-start;
    }
    body main .advice{
        margin-top: 2rem;
    }
    body main .women .left span{
        text-align: left;
    }
    body main .products .product h3{
        font-size: 27pt;
    }
}
@media (max-width:1200px){
    body main .slider-main .slider_main .content .text h3{
     font-size: 60pt;   
    }
    body main .slider-main .slider_main .content .text h4{
            font-size: 33pt;
    }
    body main .slider-main .slider_main .content .text p{
            font-size: 23pt;
    }
}
@media (max-width:1070px){
    body main .slider-main .slider_main .content .text{
        left: 10%;
        h3{
             font-size: 31pt; 
            margin-top: 0.7rem;
            }
        h4{
            font-size: 21pt;
            margin-bottom: 1rem;
        }
        p{
            font-size: 16pt;
            margin-bottom: 1rem;
        }
    }
}
@media (max-width:992px){
    .rows{
        flex-direction: column;
    }
    body main .products .title{
        padding-bottom: 1rem;
    }
    body main .friends .left{
        margin-top: 2rem;
        text-align: center;
        
    }
    body main .friends .right{
        margin-top: 2rem;
            align-items: center;
        flex-direction: column;
    }
    .slider-advice{
      margin-top: 2rem;  
    }
    .advice .left{
        text-align: center;
    }
    footer{
        .logo{
            display: flex;
           justify-content: flex-start;
        }
            .two{
                    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
        }
        .last{
               display: flex;
    flex-direction: column; 
            align-items: flex-start;
            span{
                display: block;
            }
        }
    }
    body footer .last ul{
        padding-left: 0;
        a{
            padding-right: 1.5rem;
        }
    }
    body main .products .product::after{
        width: 100%;
          opacity: 1;
    }
    .product-three , .product-two , .product-one{
       position: relative;
    margin-bottom: 431px;
        &::after{
            top: 433px;
            opacity: 1;
        }
    }
    body main .products .product-two .left{
        margin-left: 3%;
    }
        body main .women img{     
             right: 0;
    height: 50%
    }
    .partner__img{
            display: flex;
    justify-content: center;
    }
    body main .friend .partners .partner img{
        width: 70%;
    }
}
@media (max-width:849px){
    .donate_form{
        display: inline-flex;
        width: 100%;
    }
    body main .donate .maney .forma form{
        flex-direction: column;
    }
    body main .donate .maney .forma form .checkbox+label{
            width: 100%;
    }
    body main .donate .maney .forma form .checkbox+label:nth-child(2){
            border-top-left-radius: 15px;
        
    border-bottom-left-radius: 0;
    }
    body main .donate .maney .forma form .checkbox+label:last-child{
        border-top-right-radius: 15px;
    }
    body main .donate .maney .forma form input{
            border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 100%;
        margin: 0;
         margin-bottom: 2rem;
    }
}
@media (max-width:762px){
    body main .news .title{
        flex-direction: column;
        margin-bottom: 1rem;
    }
    body main .friend .title{
        flex-direction: column;
    }
    body main .slider-main .slider_main .content .text .btn1{
        display: block;
    }
    body main .slider-main .slider_main .content .text p{
        width: 50%;
    }
    body main .slider-main .slider_main .content .text a{
        margin-top: 1rem;
    }


    .slick-initialized .slick-slide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
         body main .women img{     
        
    height: 30%
    }
    .slick-initialized .slick-slide{
        display: flex !important;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .menu{
        left: 80%;
    top: 1%;
            .menu-btn{
        width: 35px;
        height: 35px;
    }
    }
    body main .friends h3{
        font-size: 18px;
    }
}

@media (max-width:562px){
    body main .women .left p{
        font-size: 15pt;
    }
    body main .women .left span{
        font-size: 12pt;
    }
    body main .slider-main .slider_main .content .text p{
        width: 37%;
    }
    body footer .two a{
        font-size: 22pt;
    }
    body main .slider-main .slider_main .content .text h4{
        font-size: 14pt;
    }
            body main .women img{     
        
    height: 30%
    }
    body main .products .product p{
        line-height: 1.1;
    }
    body main .products .product h3{
        font-size: 23pt;
    }
} 

.advice .slick-initialized .slick-slide  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
