.BrendsPage {
	
	.brand-map{
		width: 100%;
		h1 , span{
			font-weight: bold;
			color: #1d1d1b;
		}	
		h1{
			font-size: 36px;
			margin-bottom: 1.5rem;
		}
		h1 + span{
			font-size: 18px;
		}
		
	}
	
	.header {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 3rem;

		h2 {
			font-size: 30px;
			line-height: 1.5;
			margin-right: 3rem;

		}

		p {
			font-size: 15px;
		}

		.btn-filter-wrap {
			display: flex;
			align-items: center;
			height: 40px;
			width: 30px;
			cursor: pointer;
			margin-left: -2rem;
		}

		.btn-filter {
			height: 20px;
			left: 7px;
			position: relative;
			background: none;
			border: 1px solid #505FA0;
			transform: rotate(-90deg);
			cursor: pointer;

			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: -1px;
				height: 30px;
				left: 0;
				border: 1px solid #505FA0;
				transform: translate(5px);
			}

			&::before {
				position: absolute;
				content: '';
				top: 0;
				left: -1px;
				height: 10px;
				border: 1px solid #505FA0;
				transform: translate(-5px);
			}
		}
	}

	.cards {
		width: 100%;

		.card {
			min-height: 280px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 2rem;
			border-bottom: 2px solid #dadada;
			padding-bottom: 1rem;

			&:last-of-type {
				border: none;
				margin-bottom: 1rem;
			}

			.left {
				position: relative;
			}
		}

		.header {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			position: absolute;
			background: #fff;
			top: 47px;
			left: 17px;
			padding: 0 30px;
			color: #1d1d1b;
			font-size: 21px;
			font-weight: bold;
			    width: 580px;
			.rating {
				display: flex;
				flex-direction: row-reverse;
				margin-left: 1rem;

				&-item {
					width: 15px;
					height: 15px;
					padding: 0 10px;
					background-color: none;
					background-image: url(../img/star_norm.svg);
					background-repeat: no-repeat;
					cursor: pointer;

					&.active,
					&.active ~ *,
					&:hover,
					&:hover ~ * {
						background-image: url(../img/star_active.svg);
					}
				}
			}

			span {
				color: #b2b2b2;
				font-size: 14px;
				font-weight: 600;
				margin-left: 0.5rem;
			}

		}

		.content {
			border-radius: 25px;
			padding: 30px 40px;

			.prev_header {
				display: block;
				color: #505fa0;
				font-size: 16.3px;
				margin-bottom: 13px;
				font-weight: bold;
			}

			p {
				font-size: 14.5px;
				font-weight: 600;
				line-height: 1.5;
				max-height: 90px;
				overflow: auto;
			}
		}

		.prev {
			display: inline-block;
			line-height: 30px;
			min-width: 150px;
			max-width: 250px;
			height: 30px;
			border-radius: 25px;
			font-size: 16.5px;
			text-align: center;
			text-transform: uppercase;
			padding: 0 20px;
			font-weight: 600;
			margin-bottom: 2rem;
		}

		.footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: absolute;
			width: 200px;
			bottom: 30px;
			left: 18px;
			background: #fff;
			padding: 0 30px;
			font-size: 14px;

		}

		img {
			width: 250px;
			height: 250px;
			border-radius: 25px;
			margin-right: 50px;
		}

		.left {
			width: 830px;
		}
	}
}


#map{
	height: 500px;
	width: 600px;
	border-radius: 25px;
}