header,
.menu-burger {
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	height: 100px;
	margin-bottom: 3.25rem;

	form {
		position: relative;

		input {
			width: 215px;
			border-radius: 15px;
			height: 35px;
			padding: 0 15px 0 35px;
			font-size: 13pt;
			border: none;
			color: #505fa0;
			background-color: #F2F6F9;
			font-weight: bold;

			&::placeholder {
				color: #505fa0;
			}
		}

		button {
			position: absolute;
			left: 10px;
			top: 30%;
			width: 15px;
			height: 15px;
			background: none;
			border: none;
			background-image: url(../img/search.svg);
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}

	ul {
		display: flex;
		li {
			position: relative;
			margin-left: 30px;

			&:first-child {
				margin-left: 0;
			}

			&:nth-child(3) > a,
			&:nth-child(6) > a {
				z-index: 30;
			}
		}

		a:hover + .submenu {
			display: flex;
		}

		.submenu {
			display: none;
			position: absolute;
			left: -7px;
			top: 0;
			flex-direction: column;
			width: 200px;
			border: 2px solid #505fa0;
			border-radius: 10px;
			background-color: #fff;
			z-index: 10;
			box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 1);
			
			&:hover {
				display: flex;
			}

			li {
				margin: 0;
				padding: 5px;

				&:first-child {
					padding-top: 2rem;
				}
			}
		}

		a {
			position: relative;
			font-size: 14pt;
			color: black;
			font-weight: bold;
			transition: color 0.5s;
			transition: 0.5s;

			&:hover {
				color: #405089;
			}

			&:active {
				color: #364572;
			}
		}

		a > span {
			position: absolute;
			top: -4px;
			right: -18px;
			display: block;
			font-size: 1.8rem;
			transform: rotate(90deg);
			transition: transform 0.5s;

			&:hover {
				transform: rotate(-90deg);
			}
		}

		a:hover > span {
			transform: rotate(-90deg);
		}
	}

	.map {
		position: relative;
		margin-left: 2rem;
		font-size: 1.06rem;
		font-weight: 600;
		color: #505fa0;
		border-bottom: 1px #505fa0 dotted;
		transition: color 0.5s;

		&:hover {
			color: #405089;
		}

		&::before {
			position: absolute;
			content: ' ';
			top: 5px;
			left: -19px;
			width: 15px;
			height: 15px;
			background-image: url(../img/map.svg);
		}
	}

	.private {
		display: flex;
		align-items: center;

		.bell {
			width: 9px;
			height: 11px;
			margin-right: 10px;
			background-color: #f2f6f9;
			padding: 8px 10px;
			box-sizing: content-box;
			border-radius: 10px;
			border: 1px solid #fff;
			cursor: pointer;
			transition: border 0.5s;

			&:hover {
				background: none;
			}

			&:active {
				border: 1px solid rgb(80, 95, 160)
			}
		}

		a {
			display: block;
			width: 48px;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
	}

	.burger {
		position: relative;
		bottom: -23px;
		right: 5px;
		display: none;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		height: 36px;
		width: 36px;
		background: #505fa0;
		border-radius: 50%;
		margin-bottom: 3rem;
		z-index: 999;

		.burger-line {
			position: relative;
			display: block;
			background: #fff;
			width: 25px;
			height: 3px;
			transition: 1s;
			transform: rotate(180deg);

			&::after {
				position: absolute;
				content: '';
				background: #fff;
				width: 25px;
				height: 3px;
				top: 5px;
				transition: 1s;
			}

			&::before {
				position: absolute;
				content: '';
				background: #fff;
				width: 25px;
				height: 3px;
				top: -5px;
				transition: 1s;
			}
		}

		.active-burger {
			width: 15px;
			margin-left: 11px;

			&::after {
				width: 25px;
			}

			&::before {
				width: 5px;
			}
		}
	}
}
.menu-burger {
	padding: 15px 0;
	position: fixed;
	background: #fff;
	box-shadow: 9px 7px 15px -8px rgba(54, 69, 114, 1);
	width: 330px;
	min-height: 100vh;
	height: 350px;
	z-index: 500;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	justify-content: space-around;
	transform: translate(-350px);
	transition: 1.5s;

	.private {
		display: flex;
		justify-content: space-between;
		width: 95%;

		.map {
			text-align: center;
		}
	}

	.bell-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		img {
			&:first-child {
				width: 150px;
			}
		}
	}

	ul {
		flex-direction: column;

		li {
			line-height: 2;

			&:first-child {
				padding-left: 30px;
			}

			a {
				font-size: 5.2vmin;
			}
		}
	}
}

.menu-burger_active {
	transform: translate(0px);
}