.pink{
	    position: absolute;
    background-image: url(../img/spot-pink.svg);
    width: 481px;
    height: 555px;
    background-repeat: no-repeat;
    right: 0;
    top: 36%;
    z-index: 2;
}
.pink-footer{
position: absolute;
    width: 528px;
    height: 244px;
    background: url(../img/spot-green.svg) no-repeat;
    right: 196px;
	bottom: 0;
	z-index: -1;
}
.preview {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 70px;
	width: 100%;
	min-height: 308px;
	border-radius: 25px;
	background-image: url(../img/prebiew_bg.png);
	background-color: rgb(234, 234, 234);

	&::before {
		position: absolute;
		content: '';
		left: -58%;
		top: 0;
		background: url(../img/spot.svg) no-repeat;
		width: 900px;
		height: 600px;
		z-index: -1;
	}

	h1 {
		font-size: 3.7rem;
		font-weight: normal;
		margin-bottom: 10px;
	}

	.slide_preview {
		position: relative;
		height: 308px;

		img {
			position: absolute;
			right: 0;
			top: 0;
			opacity: 0;
			height: inherit;
			border-radius: 14% 9% 8% 13% / 100% 20% 24% 100%;
		}

		.active {
			transition: opacity 1s;
			opacity: 1;
		}
	}

	span {
		display: block;
		font-size: 1.5rem;
		line-height: 1.5;
	}

	a {
		max-width: 230px;
	}
}
.brands {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 90px;
	margin-bottom: 4rem;

	li {
		position: relative;
		height: 35px;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 3px;
			background: #F8FAFF;
			left: 0;
			bottom: -23px;
		}

		&:hover {
			&::after {
				display: block;
				background: #505FA0;
			}
		}
	}

	img {
		display: block;
		width: 35px;
		height: 35px;
		padding-right: 15px;
		box-sizing: content-box;
	}

	li {
		&:last-child {
			padding-right: 2rem;
		}
	}

	a {
		display: flex;
		align-items: center;
		color: #000;
		width: 155px;
		transition: 0.5s;

		&:hover,
		&:active {
			transform: scale(1.2);
			margin: 0 15px;
			font-weight: bold;
		}
	}
}
.animate-map {
	position: relative;
	margin: 5rem 0 10rem 0;

	.castom-map {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 1200px;
		height: 650px;
		background: url(../img/map.jpg) no-repeat;
		background-position: 100%;
		border-radius: 50px;
		transition: 0.5s;
		z-index: 1;

		.wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: radial-gradient(circle at center, transparent 27%, rgba(0, 0, 0, 0.5) 30%);
			pointer-events: none;
			touch-action: none;
			border-radius: 50px;
		}
	}

	.arows {
		position: absolute;
		right: 137px;
		bottom: 50px;
		z-index: 15;

		button {
			background: none;
			border: none;
			width: 15px;
			height: 15px;
			margin-right: 0.5rem;
			cursor: pointer;
		}

		.map_left {
			background: url(../img/left.svg) no-repeat;
		}

		.map_right {
			background: url(../img/right.svg) no-repeat;
		}
	}

	a {
		width: 200px;
	}

	.slider-map {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		height: 200px;
		width: 1024px;
		overflow: hidden;
		bottom: -18px;
		left: 69px;
		background-color: #fff;
		border-radius: 50px;
		box-shadow: 13px 21px 14px -21px rgba(0, 0, 0, 0.75);
		opacity: 0;
		z-index: 10;

		img {
			border-radius: 5% 25% 8% 7% / 97% 96% 49% 50%;
		}

		.content {
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-left: 2rem;
			line-height: 1.5;

			img {
				width: 46px;
				height: 46px;
			}

			span {
				color: #E26D9D;
				font-size: 19px;
			}

			b {
				font-size: 22px;
			}
		}
	}

	.active {
		transition: 1s;
		opacity: 1;
		bottom: -100px;
	}
}
.share {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	margin-top: 7rem;
	background: url(../img/share.png) no-repeat;
	z-index: 25;

	h2 {
		display: block;
		margin-bottom: 2.1rem;
	}

	p {
		max-width: 380px;
		font-weight: normal;
		font-size: 1.18rem;
		line-height: 1.5;
		margin-right: 3rem;
	}

	a {
		max-width: 200px;
		margin-top: 2.5rem;
	}
}
.news {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 7.2rem;

	&::before {
		position: absolute;
		content: '';
		width: 1070px;
		height: 850px;
		background: url(../img/spot-yellow.svg) no-repeat;
		z-index: -1;
		left: -31%;
		top: 12%;
	}

	h2 {
		margin: 5rem 0 3.75rem 0;
	}

	img {
		border-radius: 30px;
		width: 100%;
	}

	.news-wrap {
		display: flex;
		justify-content: space-between;
	}

	.big-news {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 785px;
		min-width: 540px;
		margin-right: 0.5rem;
	}

	.mini-news {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;

		.item {
			display: flex;
			flex-direction: column;
			max-width: 300px;
			margin-bottom: 15px;

			&:nth-child(odd) {
				margin-right: 3rem;
			}
		}
	}

	h3 {
		font-size: 1.35rem;
		font-weight: bold;
		padding: 20px 5px 0 5px;
	}

	p {
		font-size: 0.8rem;
		color: #1D1D1B;
		font-weight: normal;
		margin-top: 0.5rem;
		padding: 0 5px;
	}

	a {
		max-width: 200px;
	}

	.social {
		display: flex;

		li {
			padding-left: 15px;

			&:first-child {
				padding-left: 0;
			}
		}

		a {
			position: relative;
			display: block;
			width: 42px;
			height: 42px;
			border-radius: 25px;
			line-height: 2.5;
			color: #fff;
			transition: 0.5s;

			&:hover {
				width: 160px;

				span {
					opacity: 1;
				}
			}

			&:active {
				box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
			}

			span {
				position: absolute;
				left: 50px;
				opacity: 0;
			}
		}

		.vk {
			background: url('../img/vk.svg') no-repeat 10px 15px;
			background-size: 20px;
			background-color: #5093DA;
		}

		.you {
			background: url('../img/You.svg') no-repeat 11px 8px;
			background-size: 20px;
			background-color: #FF0000;
		}

		.inst {
			background: url("../img/inst.svg") 10px 11px no-repeat, linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

			&:hover {
				background-repeat: no-repeat;
			}
		}

		.f {
			background: url('../img/f.svg') no-repeat 16px 11px;
			background-size: 10px;
			background-color: #1877F2;
		}
	}
}
