.mamber{
	top: 5%;
	z-index: -1;
}
.footer-member{
    left: 0;
    bottom: 0%;
    background-image: url(../img/pink-footer.svg);
    height: 589px;
}
	.Mamber_btn{
		display: none;
		position: absolute;
		border: none;
		right: -72px;
		top: 33%;
		    transform: rotate(-90deg);
		margin: 0;
		font-size: 13px;
		width: 180px;
		z-index: 999;
	}
.Member_Page {
	align-items: flex-start;
	position: relative;
	h1 {
		max-width: 800px;
		margin-bottom: 2rem;
	}

	h2,
	p {
		max-width: 700px;
	}

	p {
		font-size: 19px;
		margin-bottom: 2rem;
		text-indent: 1.5em;
		line-height: 1.5;

		&:first-of-type {
			text-indent: 0em;
		}

		&:last-child {
			margin-bottom: 6rem;
		}
	}

	h2 {
		font-size: 32px;
		margin-bottom: 1rem;
	}
	.card-brand {
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		position: absolute;
		width: 430px;
		height: 600px;
		background-image: url(../img/card-brand.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-color: #fff;
		top: 22%;
		right: 0;
		z-index: 20;
		border-radius: 25px;
		box-shadow: 5px 5px 15px -8px #364572;
		border: 1px solid rgba(54, 69, 114, 0.13);
	}
	.shape {
		position: relative;
		height: 30px;
		margin-bottom: 4rem;
		border: none;
		background: none;
		color: #505fa0;
		font-weight: bold;
		cursor: pointer;
		line-height: 1.5;
		font-size: 16px;
		transition: color 0.5s;
		&:hover{
			color: #405089;
		}
		&:active{
			color: #405089;
		}
		&:first-of-type {
			&::after {
				position: absolute;
				content: '';
				width: 16px;
				height: 20px;
				background: url(../img/RedactorBrend.svg) no-repeat;
				left: calc(50% - 16px);
				top: -22px;
			}
		}

		&:last-of-type {
			&::after {
				position: absolute;
				content: '';
				width: 16px;
				height: 20px;
				background: url(../img/newBrand.svg) no-repeat;
				left: calc(50% - 10px);
				top: -22px;
			}
		}
	}
	
}
