.select {
	position: relative;
	margin-right: 3rem;
	width: 300px;
	color: #505fa0;
	font-weight: bold;
	border-radius: 25px;
	border: 1px solid #fff;
	transition: 0.5s;
	&:last-of-type{
		margin-right: 0;
	}
	.selectBtn {
		padding: 10px;
		padding-left: 25px;
		box-sizing: border-box;
		width: 100%;
		cursor: pointer;
		position: relative;
		user-select: none;
		background:  #f2f6f9;
		border-radius: 25px;
		background-image: url(../img/arowsfilter.svg);
		background-repeat: no-repeat;
		    background-position: 95%;
			&.toggle{
		border: 1px solid #505fa0;
				z-index: 40;
	}
	}
	.selectDropdown {
		padding-top: 45px;
		position: absolute;
		top: 0;
		width: 100%;
		overflow: hidden;
		background:  #f2f6f9;
		z-index: 1;
		background: #fff;
		transform: scale(1,0);
		transform-origin: top center;
		visibility: hidden;
		transition: 0.2s ease;
		box-shadow: 0px 0px 15px -8px #364572;
		z-index: 7;
		border-radius: 25px;
		max-height: 300px;

		.option {
			padding: 10px;
			box-sizing: border-box;
			cursor: pointer;
			color: #000;
			&:hover {
				color: #405089;
			}
		}
		&.toggle {
			visibility: visible;
			transform: scale(1,1);
			z-index: 1;
		}
	}
}