* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.upp {
    text-transform: uppercase;
}

h3,
h2 {
    text-align: center;
    color: #060671;
    line-height: 1.1;
}

h3 {
    font-size: 1.38rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    padding: 1rem;
    max-width: 710px;
    text-align: justify;
    font-size: 1.34rem;
    color: #9a9a9a;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;

    h1 {
        margin-top: 1.8rem;
        text-transform: uppercase;
        font-size: 1.5em;
    }

    spam {
        font-size: 1.07rem;
        line-height: 2;
    }

    h1,
    span {
        display: block;
        text-align: center;
        color: #9a9a9a
    }
}

main {
    margin-top: 3rem;

    .prew {
        display: block;
        text-align: center;
        color: #9a9a9a;
        font-size: 1.5rem;
    }

    .connection {
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            width: 316px;
            background: #9a9a9a;
            padding: 0.5rem;

            input {
                width: 100%;
                padding: 5px;
                margin: 5px 0;
                font-size: 1.2rem;
            }

            input[type="checkbox"] {
                display: none;
            }

            label {
                display: block;
                font-size: 12px;
                padding: 0.5rem 0 0.5rem 25px;
                cursor: pointer;

                &::before {
                    position: absolute;
                    content: '';
                    width: 16px;
                    height: 16px;
                    background: #fff;
                    vertical-align: middle;
                    margin-left: -25px;
                    transition: background 0.2s;
                }
            }

            input[type="checkbox"]:checked + label:before {
                background: #0000ad;
                content: "✔";
                color: #fff;
                text-align: center;
            }
        }

        p {
            width: 316px;
            background: #2b2bab;
            color: #fff;
            padding: 1rem;
            text-align: center;
            line-height: 1.4;
            font-size: 1rem;
            font-weight: 300;

            .free {
                font-size: 1.24rem;
                font-weight: 500;
            }
        }
    }

    .diploma {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .diplomas {
        margin-bottom: 2rem;

        img {

            &:hover {
                transition: 1.3s;
                transform: scale(2.5);
            }
        }

        span {
            text-align: center;
            margin: 0.5rem 0;
            display: block;
            color: #9a9a9a;
            font-size: 1.2rem;
        }
    }

    .info {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
            margin: 1rem;
        }
    }

    adress {
        display: flex;
        justify-content: center;

        a {
            margin: 9px 5.4px;

            i {
                background: #9a9a9a;
                color: #fff;
                font-size: 1.3rem;
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 5px 0;
                transition: color 0.5s;
                &:hover{
                    color: #060671;
                }
            }
        }
    }
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #9a9a9a;
    nav{
        margin-top: 1.5rem;
        text-align: center;
         li{
        list-style-type: none;
        line-height: 1.5;
        a{
        text-decoration: none;
            color: #fff;
            text-transform: uppercase;
                font-weight: 300;
            transition: color 0.5s;
            &:hover{
                color: #2b2bab;
            }
    }
    }
    }
    span{
        display: block;
        padding: 0.5rem 0;
        color: #fff;
        font-size: 12px;
        
    }
}

@media screen and (max-width: 725px){
    main .diplomas{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
           width: 225px;
            height: 150px;
        }
    }
    main .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
           width: 225px;
            height: 150px;
        }
    }
}
