@media (max-width:1880px) {

    .screen_nine_one p{
        margin-left: 0;
    }
    .container {
        margin-left: 3rem;
    }

    .screen_four .cards::after {
        right: 5%;
    }

    .screen_five {
        .left {
            width: 22%;
        }

        .right {
            h3 {
                height: 113px;
                width: 177px;
                    margin-left: -8rem;
                &::after {
                    right: 69px;
                }
            }
        }

        .center {
            h3 {
                height: 339px;
                width: 292px;

                &::after {
                    transform: rotate(9deg);
                    right: 119px;
                }
            }
        }
    }
}
@media (max-width:1750px) {

   .screen_seven_one .schedule .left{
        margin-right: 21rem;
    }
.screen_seven_one .schedule .left p:nth-child(3) {
    margin-left: 4em;
}
    .screen_seven_one .schedule .right .progress-circle{
            width: 184px;
    height: 194px;
    }
}

@media (max-width:1650px) {
    .screen_five {
        .left {
            width: 18%;
        }

        h3 {
            padding: 5rem;
        }
    }
}

@media (max-width:1492px) {
    .screen_seven .text p{
        padding-left: 2.5rem;
    }
    html {
        font-size: 13px;
    }

    .screen_teen .adv::after {
        right: 11%;
    }

    .screen_one p {
        line-height: 1.5;
    }

    .screen_three {
        h3 {
            line-height: 1;
        }

        li {
            margin-bottom: 1rem;
        }
    }

    .screen_nine {
        .price {
            h3 {
                &::after {
                    width: 466px;
                }
            }

            li {
                &::before {
                    top: 5px;
                    left: -19px;
                }
            }

        }
    }

    .screen_teen .adv li::after {
        height: 30px;

        top: -11px;
        left: -25px;
    }
}

@media (max-width:1262px) {
    html {
        font-size: 12px;
    }

    .screen_three li::before {
        top: -73px;
    }

    .screen_three .part .right {
        right: 11%;
    }

    .screen_five .center h3 {
        height: 255px;
        width: 253px;

        &::after {
            transform: rotate(16deg);
            right: 56px;
            bottom: 17px;
            border-right: 40px solid #f3f3f3;
            border-bottom: 20px solid #f3f3f3;

        }
    }

    .screen_five h3 {
        padding: 4rem;
    }

    .screen_teen .adv li::after {
        height: 24px;
        top: -5px;
        left: -24px;
    }

    .screen_teen h3::after {
        left: 73px;
        width: 620px;
    }

    .screen_two .advantages .merits {
        img {
            width: 251px;
        }

        p {
            margin-top: 8em;
        }

    }

    .screen_teen .adv::after {
        right: 2%;
    }
}

@media (max-width:1475px) {
    .screen_seven_one .schedule .left p{
        font-size: 1.2rem;
    }
    .screen_seven_one .schedule .left p:nth-child(3){
        margin-left: 0;
    }
    .screen_seven_one .schedule .left p:nth-child(5) {
        margin-left: 2em;}

.screen_seven_one .schedule .left p::before{
    right: -76px;
    transform: rotate(48deg);
}
.screen_seven_one .schedule .left p:nth-child(3)::before {
    transform: rotate(29deg);
    top: 30px;
}
.screen_seven_one .schedule .left p:nth-child(4)::before {
    transform: rotate(24deg);
    top: 18px;
}
.screen_seven_one .schedule .left p:nth-child(5)::before {
    transform: rotate(0deg);
    top: 21px;
}
    .screen_seven_one .schedule .left p::after{
            top: -78px;
            right: -183px;
    }
    .screen_seven_one .schedule .left p:nth-child(3)::after {
    top: -83px;
    right: -192px;
}
    .screen_seven_one .schedule .left p:nth-child(4)::after {
    top: -96px;
    right: -198px;
}
    .screen_seven_one .schedule .left p:nth-child(5)::after {
    top: -110px;
    right: -198px;
}
}

@media (max-width:1092px) {
    .screen_seven_one .schedule .right .circle .green small{
        right: -140px;
    }
    .screen_seven_one .schedule .right .circle .orange small{
        left: -77px;
    }
    .screen_seven_one .schedule{
        flex-direction: column-reverse;
        align-items: center;
        .right{
            width: 35%;
            margin-right: 0;
        }
        .left{
            width: 100%;
            margin-right: 0;
            p{
                font-size: 2.5rem;
                span{
                    font-size: 3rem;
                }
                &::after , &::before{
                    display: none;
                }
            }
        }
    }
    .screen_seven_one .schedule .left p:nth-child(5) {
    margin-left: 0;
}
}

@media (max-width:1080px) {
    html {
        font-size: 11px;
    }
    .screen_one .advantages .merits {
        min-width: 460px;
    }

    .screen_nine .price h3::after {
        width: 373px;
        left: 29px;
    }

    .screen_teen h3::after {
        width: 566px;
    }
        .twork{
        display: block;
    }
}

@media (max-width:1080px) {
    .screen_seven .text{
        display: flex;
        flex-direction: column;
            flex-direction: column-reverse;
        justify-content: space-between;
        p{
                width: 100%;
   

    padding-left: 4rem;
        }
    }
    .twoc{
        display: none;
    }
    .twok{
        display: block;
    }
    .ivt{
        display: flex;
        justify-content: space-around;
            margin-left: 70px;
    }
    .screen_one .advantages {
        flex-direction: column;
        align-items: center;
    }

    .screen_one .advantages .merits {
        min-width: 100%;
    }

    .screen_nine .price {
        flex-direction: column;
        align-items: flex-start;
        h3{
            width: 100%;
        }
    }

    .screen_nine .price .left,
    .screen_nine .price .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul{
            width: 100%;
            padding-right: 2rem;
           
        }
    }

    .screen_four .cards::after {
        right: 0%;
    }

    .screen_three .part .right {
        right: 2%;
    }

    .screen_two .advantages {
        flex-direction: column;
    }

    screen_two p {
        text-align: center;
        padding: 3rem 0rem 5rem 0rem;
    }

    .screen_two .advantages .merits img {
        top: -13%;
    }

    .screen_teen .adv li::after {
        height: 20px;
        top: 0px;
    }

    .screen_teen .adv::after {
        width: 270px;
        height: 200px;
    }
}

@media (max-width:992px) {
    .screen_seven_one .schedule .right {
    width: 39%;
}
    .screen_seven .text{
        p{
                padding: 15px 15px;
        }
    }
    .screen_seven .ftext{
            margin: 19px;
    margin-left: 2em;
    font-size: 1.5rem;
    padding: 1.5em 3em;
    }
    .screen_nine_one .cards{
        flex-direction: column;
        align-items: center;
        .card{
            width: 100%;
            margin: 2rem 0;
            padding-right: 0;
        }
    }
    .screen_teen .adv::after {
        display: none;
    }

    .screen_four .cards::after {
        display: none;
    }

    .screen_three .part .right {
        display: none;
    }

    .screen_three li::before {
        top: -66px;
    }

    .screen_five p::before {
        top: -49px;
    }

    .preview {
        font-size: 2.5rem;
    }

    .screen_one {
        p {
            font-size: 2.171rem;
        }

        b {
            margin-bottom: 1rem;
        }
    }
}

@media (max-width:958px){
 
    .screen_seven_one .schedule .right {
    width: 45%;
}
}

@media (max-width:776px) {
    .screen_seven_one .schedule .left {
        width: 77%;
    text-align: center;
    margin-left: 6rem;
        p{
            font-size: 2.1rem;
            span{
                font-size: 2.4rem;
            }
        }
        
}
    .screen_seven_one .schedule .right .circle_bot .orange small {
    position: absolute;
    top: -14px;
    right: 28px;
    font-size: 1.5rem;
    font-weight: bold;
}
    .screen_seven_one .schedule .right .circle::after ,
    .screen_seven_one .schedule .right .circle::before {
        display: none;
    }
.screen_seven_one .schedule .right .circle .orange small {
    left: 39%;
    z-index: 999;
    top: -18%;
}
    .screen_seven_one .schedule .right .circle_bot .green {
    margin: 1rem 0;
        small{
    top: -9%;
    left: 28%;
        }
}
    .screen_seven_one .schedule .right .circle_bot{
            flex-direction: column;
    align-items: center;
            margin-left: 1rem;
    }
    .screen_seven_one .schedule .right p::after {
    display: none;
}
    .screen_seven_one .schedule .right p::before {
    display: none;
}
    .screen_seven_one .schedule .right .circle .green {
    left: 17%;
    }
    .screen_seven_one .schedule .right .circle .orange{
            left: 17%;
    bottom: -187px;
    }
    .screen_seven_one .schedule .right .circle{
        height: 208px;
    }
    .screen_seven_one .schedule{
        margin-left: -7rem;
    }
    .screen_seven_one .schedule .right .circle .green small {
       right: 28%;
    top: -29px;
    z-index: 999;
}
    .screen_seven_one .schedule .right .circle .orange small {
    left: 40%;
}
    section{
        margin-top: 2rem;
    }
    .preview{
        margin-left: 2rem;
    }
    .screen_four .cards {
        flex-direction: column;
        align-items: center;
        
        .card {
            width: 100%;
                   padding-left: 15px;
        padding-right: 15px;
            margin-left: 0;
        }
    }
    .screen_five{
        flex-direction: column;
        margin-right: 33px;

    }
    .screen_five .left {
        text-align: center;
        width: 100%;

        h3 {
            width: 100%;
            padding: 0;

            background: none;
            height: 0;
            &::after {
                display: none;
            }
        }
        p{
            &::before{
                display: none;
            }
        }
    }

    .screen_five .center{
        h3{
             background: none;
        height: 0;
        width: 100%;
            padding: 3rem 0;
            
        &::after {
            display: none;
        }
        }
    }

    .screen_five .right{
        width: 100%;
        margin-top: 1rem;
        h3{
            background: none;
        height: 0;
        width: 100%;
            margin-left: 0;
            padding: 1rem 0;
        &::after {
            display: none;
        }
        }
        p{
            &::before{
                display: none;
            }
        }
    }
    .part{
        flex-direction: column;
    }
}


@media (max-width:676px) {
    .con{
        ul{
            display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%;
    padding: 0;
    padding-left: 25px;
    width: 90%;
        }
    }
    .screen_teen h3{
        text-align: center;
        padding-left: 0;
        font-size: 1.9rem;
        margin-bottom: 2rem;
        &::before{
            display: none;
        }
        &::after{
              width: 93%;
    left: 23px;
    top: 24px;
        }
    }
     .screen_teen h4{
        font-size: 1.8rem;
    }
    header {
        h1{
         font-size: 5rem;
    padding: 1rem 4rem;   
        }
        h2{
                font-size: 3.3rem;
        }
    }
}
@media (max-width:620px) {
    .ivt{
        margin-left: 0;
    }
            .screen_seven .text p{
            padding: 0px;
                position: relative;
                &::before{
                      content: '.';
    position: absolute;
    width: 5px;
    height: 5px;
    color: #b3da4a;
    font-size: 6rem;
        top: -50px;
    left: -16px;  
                }
        }
    .twork{
        display: none;
    }
}
@media (max-width:580px){

   .screen_seven_one .schedule .left p {
    font-size: 1.8rem;
}
    .screen_seven_one .schedule .right .circle_bot{
        margin-left: 7rem;
    }
    .screen_teen h3{
        font-size: 1.2rem;
        &::after{
               width: 98%;
    left: 2px;
    top: 24px; 
        }
    }
    .screen_teen h4{
        font-size: 1.5rem;
    }
    .screen_five .right p{
        padding-left: 15px;
    }
    .preview{
        font-size: 2rem;
    }
    .screen_two .advantages .merits .last{
        top: -18%;
    }
    .screen_two p{
        font-size: 2rem;
    }
       header{
        h1{
                font-size: 3rem;
    padding: 1rem 3rem;
        }
        h2{
            font-size: 2.3rem;
        }
    }
    .screen_one{
        margin-left: 25px;
    }
    .screen_one .advantages{
        margin-left: 25px;
    }
    .screen_five .center h3{
        padding: 8rem 0;
    }
    .screen_nine .price{
        align-items: flex-start;
        padding-left: 15px;
    padding-right: 15px;
        h3{
            padding-left: 0;
            font-size: 1.8rem;
            &::after{
                left: 0;
                width: 100%;
            }
        }
    }
    .container{
        margin-left: 5px;
    }
    .screen_teen .adv li {
        font-size: 1.5rem;}
    .screen_teen .adv li::before{
        top: 11px;
        left: -39px;
    }
    .screen_teen .adv li::after {
            height: 11px;
            left: -21px;
    }
    .screen_teen .adv span{
        left: -24px;
    }
    .screen_two .advantages .merits{
        margin-top: 5rem;
    }
    .screen_four .cards .card{
        margin-left: 0;
    }
}

@media (max-width:504px){
    header{
        h1{
                font-size: 3rem;
    padding: 1rem 3rem;
        }
        h2{
            font-size: 2.3rem;
        }
    }
    .screen_one{
        margin-left: 25px;
    }
    .screen_one .advantages{
        margin-left: 25px;
    }
}
@media (max-width:475px) {
    .screen_teen .adv ul{
        margin-left: 1rem;
    }
    .screen_teen .adv span{
        top: -8px;
    }
    .screen_teen .adv li::after{
            top: -6px;
        left: -22px;
        height: 17px;
    }
    .screen_teen .adv li {
    font-size: 1.3rem;
            line-height: 4
} 
}
@media (max-width:445px) {
    screen_teen .adv li::before {
        top: 4px;}
    .screen_teen .adv li::after{
        display: none;
    }
    .screen_teen .adv li{
        padding-left: 0.5rem;
        font-size: 1.3rem;
        line-height: 3;
    }
}
@media (max-width:410px){
    .screen_five {
        margin-left: 5px;
        margin-right: 5px;
    }
    .screen_five .right h3{
        margin-left: 0;
        padding: 2rem 0;
    }
    .screen_two .preview{
        font-size: 1.9rem;
    }
    .screen_three h3{
           padding-right: 2px;
    padding-left: 4px;
    font-size: 1.9rem; 
    }
    
}