/** contst **/
html {
    font-size: 14px;
    overflow-x: hidden;
}
.two-c{
    display: none;
}
    .twork{
        display: none;
    }
.container {
    margin-left: 2rem;
}

section {
    margin-top: 5rem;
    position: relative;
}

.part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview {
    display: inline-block;
    color: #232325;
    font-size: 3.571rem;
    text-transform: uppercase;
    position: relative;
    margin-left: 4.9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 100%;
        background: #b3da4a;
        top: 0;
        left: -4%;
    }
}

span {
    font-weight: normal;
}

/** contst **/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/main_bg.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    text-align: center;

    h1 {
        display: inline-block;
        background: #ff6700;
        font-size: 7rem;
        padding: 2rem 4rem;
        color: #fff;
        border-radius: 101px 45px 108px 50px;
        font-style: italic;
        font-weight: bold;
    }

    h2 {
        font-size: 4.3rem;
    }
}

.screen_one {

    b {
        display: inline-block;
        background: #ff6700;
        font-size: 10rem;
        padding: 4rem;
        color: #fff;
        border-radius: 125px 45px 124px 50px;
        font-style: italic;
        font-weight: bold;
        margin-right: 4rem;
    }

    p {
        font-size: 3.171rem;
        line-height: 2;
    }

    .advantages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .merits {
            background: #f2f2f2;
            min-width: 500px;
            max-width: 500px;
            margin-right: 2rem;
            border-radius: 78px 40px 78px 40px;
            text-align: center;
            margin-bottom: 3rem;

            h3 {
                color: #ff6700;
                font-size: 4.2rem;
                margin: 1rem;
                font-weight: bold;
            }

            p {
                line-height: 1.5;
                font-size: 2.5rem;
                margin: 1rem;
            }
        }
    }

}

.screen_two {
    p {
        background: #fbe88a;
        text-align: center;
        font-size: 2.4rem;
        padding: 3rem 7rem 4rem 4rem;
        border-radius: 114px 0 0 32px;
    }

    .advantages {
        display: flex;
        justify-content: space-between;

        .merits {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            img {
                width: 316px;
                height: auto;
                position: absolute;
                top: -9%;
            }

            .last {
                top: -2%;
            }

            p {
                background: none;
                text-align: left;
                margin-top: 9em;
                font-size: 2rem
            }
        }
    }
}

.screen_three {
    h3 {

        display: block;
        line-height: 3;
        font-size: 2.3rem;
        font-weight: bold;

    }

    li {
        font-size: 1.5rem;
        list-style: none;
        line-height: 1.9;
        margin-bottom: 2rem;
        position: relative;
        max-width: 650px;

        &::before {
            content: '.';
            position: absolute;
            width: 5px;
            height: 5px;
            color: #b3da4a;
            font-size: 6rem;
            top: -85px;
            left: -27px;
            color: #b3da4a;
        }
    }

    .part {
        position: relative;

        .right {
            content: '';
            position: absolute;
            width: 278px;
            height: 900px;
            background: url(../images/men.png) no-repeat right bottom;
            background-size: contain;
            bottom: 15px;
            right: 25%;
        }
    }
}

.screen_four {
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 300px;
            height: 300px;
            background: url(../images/teleg.png) no-repeat;
            bottom: -10px;
            right: 15%;
        }

        .card {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 22%;
            text-align: center;
            font-size: 1.4rem;
            margin-left: 1rem;

            img {
                border-radius: 100%;
                padding: 1.5rem;
                margin-bottom: 1rem;
                background: #fff;
                box-shadow: 0px 22px 37px -10px rgba(0, 0, 0, 0.41);
            }
        }
    }
}

.screen_five {
    display: flex;
    justify-content: space-around;

    p {
        font-size: 1.5rem;
        position: relative;

        &::before {
            content: '.';
            position: absolute;
            width: 5px;
            height: 5px;
            color: #b3da4a;
            font-size: 6rem;
            top: -59px;
            left: -27px;
            color: #b3da4a;
        }
    }

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 2rem;
        text-align: center;
        padding: 5rem;
    }

    .left {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
            background: #ff6700;
            height: 100px;
            width: 100px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                border: 28px solid transparent;
                border-bottom: 19px solid #ff6700;
                border-left: 21px solid #ff6700;
                bottom: 0;
                left: 66px;
                transform: rotate(-17deg);
            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h3 {
            background: #f3f3f3;
            height: 220px;
            width: 359px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                border: 45px solid transparent;
                border-right: 45px solid #f3f3f3;
                border-bottom: 45px solid #f3f3f3;
                bottom: 19px;
                -webkit-transform: rotate(-17deg);
                transform: rotate(7deg);
                right: 57px;
            }
        }
    }

    .right {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            background: #97cc04;
            height: 157px;
            width: 241px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                border: 20px solid transparent;
                border-right: 20px solid #97cc04;
                border-bottom: 20px solid #97cc04;
                bottom: -8px;
                -webkit-transform: rotate(-17deg);
                transform: rotate(25deg);
                right: 114px;
            }
        }
    }
}

.screen_seven {
    .text {
        display: flex;
        flex-direction: row;

        p {
            width: 15%;
            font-size: 1.5rem;
            padding-left: 3em;
        }
    }

    .ftext {
        padding: 1.5em 2em;
        background: #eceff1;
        margin: 0.5em 4em;
        color: #18305f;
        font-size: 2rem;
        border-radius: 104px 41px 83px 11px;
    }
}

.screen_seven_one {
    .schedule {
        display: flex;
        justify-content: space-around;

        .left {
            width: 30%;
            margin-top: 3rem;
            span{
                font-weight: bold;
                font-size: 1.9rem;
                color: #97cc04;
            }
            p{
                font-size: 1.8rem;
                line-height: 1.4;
                position: relative;
                &::before{
                      content: '';
    position: absolute;
    width: 84px;
    height: 5px;
    border-bottom: 3px dotted #d5dae0;
    right: -10px;
    top: 25px;
    transform: rotate(29deg);
                }
                &::after{
                      right: -130px;
    content: '.';
    position: absolute;
    width: 70px;
    height: 0px;
    top: -82px;
    color: #97cc04;
    font-size: 164px;
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg)
                }
                   &:nth-child(3){
                        margin-left: 8em;
                        &::before{
    transform: rotate(9deg);
    top: 11px;
                }
                       &::after{
                               top: -110px;
                       }
            }
                                 &:nth-child(4){
                        &::before{
       transform: rotate(-9deg);
    top: 7px;
                }
                                      &::after{
                               top: -128px;
                       }
            }
               &:nth-child(5){
                   margin-left: 14em;
                   span{
                       color: #c1c1c1;
                   }
                        &::before{
         transform: rotate(-24deg);
    top: -17px
                }
                   &::after{
                               top: -161px;
                       color: #c1c1c1;
                       }
            }   
            }
        }

        .right {
                margin-right: 21rem;
            .circle {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 70%;
                    height: 26px;
                    border-bottom: 4px solid #d5dae0;
                    border-right: 4px solid #d5dae0;
                    bottom: -325px;
                    right: -20%;
                    border-radius: 1px 0px 32px 0px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 70%;
                    height: 26px;
                    border-bottom: 4px solid #d5dae0;
                    border-left: 4px solid #d5dae0;
                    bottom: -325px;
                    right: 47%;
                    border-radius: 1px 0px 0px 32px;
                }

                .green {
                    position: absolute;
                    width: 216px;
                    height: 120px;
                    top: 0%;
                    left: -48%;
                    z-index: 99;
                    margin-top: 1rem;

                    small {
                        position: absolute;
                        top: 112px;
                        right: -161px;
                        font-size: 2.5rem;
                        color: #97cc04;
                    }
                }

                .orange {
                    position: absolute;
                    display: block;
                    width: 216px;
                    height: 120px;
                    left: 92%;
                    z-index: 99;
                    margin-top: 1rem;

                    small {
                        position: absolute;
                        top: 112px;
                        right: 222px;
                        font-size: 2.5rem;
                        color: #ff6700;
                    }
                }
            }

            .progress-circle {
                position: relative;
                display: inline-block;
                margin: 1rem;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color: #f7f7f7;
            }

            .progress-circle:after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            .progress-circle span {
                border: 18px solid #f7f7f7;
                font-size: 2.5rem;
                position: absolute;
                left: 31%;
                top: 32%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                line-height: 60px;
                margin-left: -30px;
                margin-top: -30px;
                text-align: center;
                border-radius: 50%;
                background: #fff;
                z-index: 1;
                font-weight: bold;
                ;
            }

            .progress-circle span:after {
                content: "%";
                font-weight: bold;
                color: #000;

            }

            p {
                display: inline-block;
                background: #cfd5dc;
                border: 1px solid #5773a2;
                border-radius: 15px;
                padding: 2em 6em;
                text-align: center;
                font-weight: bold;
                font-size: 1.5rem;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 70%;
                    height: 39px;
                    border-top: 4px solid #d5dae0;
                    border-left: 4px solid #d5dae0;
                    bottom: -44px;
                    right: 50%
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 70%;
                    height: 39px;
                    border-top: 4px solid #d5dae0;
                    border-right: 4px solid #d5dae0;
                    bottom: -44px;
                    left: 50%
                }
            }

            .progress-circle.progress-15 {
                border: 17px solid #fff;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);

                &::after {
                    background-image: linear-gradient(90deg, #f7f7f7 50%, transparent 50%, transparent), linear-gradient(129.6deg, #ff6700 50%, #f7f7f7 50%, #f7f7f7);
                }
            }

            .progress-circle.progress-85 {
                border: 17px solid #fff;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);

                &::after {
                    background-image: linear-gradient(39.2deg, #97cc04 50%, transparent 50%, transparent), linear-gradient(270deg, #97cc04 50%, #f7f7f7 50%, #f7f7f7);
                }
            }

            .circle_bot {
                display: flex;
                justify-content: space-around;
                margin-top: 333px;

                .progress-circle {
                    width: 120px;
                    height: 120px;
                }

                .progress-circle span {
                    border: none;
                    font-size: 1.5rem;
                    left: 50%;
                    top: 50%;
                    width: 60px;
                    height: 60px;
                }

                .progress-circle.progress-43 {
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
                    border: 15px solid #fff;

                    &::after {
                        background-image: linear-gradient(90deg, #f7f7f7 50%, transparent 50%, transparent), linear-gradient(244.8deg, #ff6700 50%, #f7f7f7 50%, #f7f7f7);
                    }
                }

                .progress-circle.progress-57 {
                    border: 15px solid #fff;
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);

                    &::after {
                        background-image: linear-gradient(-64.8deg, #97cc04 50%, transparent 50%, transparent), linear-gradient(270deg, #97cc04 50%, #f7f7f7 50%, #f7f7f7);
                    }
                }
                .green{
                    position: relative;
                    small{
                            position: absolute;
    top: 41%;
    left: -80px;
    font-size: 1.5rem;
    font-weight: bold;
                    }
                }
                                .orange{
                    position: relative;
                    small{
                            position: absolute;
    top: 41%;
    right: -126px;
    font-size: 1.5rem;
    font-weight: bold;
                    }
                }
            }
        }
    }

}

.screen_nine_one {
    .cards {
        display: flex;
        justify-content: space-between;

        .card {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 25%;
            padding-right: 6.2rem;
        }
    }

    p {
        font-size: 3.5rem;
        margin-left: 3rem;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }

    h5 {
        color: #f3882b;
        font-size: 3rem;
        margin: 0;
        text-align: center;
    }

    small {
        font-size: 1.5rem;
        text-align: center;
    }

    .progress-circle {
        position: relative;
        display: inline-block;
        margin: 1rem;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .progress-circle:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-animation: #fff 2s;
        animation: red 2s;
    }

    .progress-circle span {
        position: absolute;
        left: 33%;
        top: 32%;
        display: block;
        width: 120px;
        height: 120px;
        line-height: 51px;
        margin-left: -35px;
        margin-top: -32px;
        text-align: center;
        border-radius: 50%;
        background: #fff;

        z-index: 1;
    }

    .one .progress-circle span {
        background-image: url(../images/print_star.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .two .progress-circle span {
        background-image: url(../images/print_cir.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .three .progress-circle span {
        background-image: url(../images/doc_one.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .four .progress-circle span {
        background-image: url(../images/home.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .progress-circle.progress-94:after {
        background-image: linear-gradient(68.4deg, #97cc04 50%, transparent 50%, transparent), linear-gradient(270deg, #97cc04 50%, #97cc04 50%, #ffffff 20%);
    }

    .progress-circle.progress-95:after {
        background-image: linear-gradient(72deg, #97cc04 50%, transparent 50%, transparent), linear-gradient(270deg, #97cc04 50%, #ffffff 20%)
    }

    .progress-circle.progress-96:after {
        background-image: linear-gradient(75.6deg, #97cc04 50%, transparent 50%, transparent), linear-gradient(270deg, #97cc04 50%, #97cc04 50%, #ffffff 20%);
    }

    .progress-circle.progress-97:after {
        background-image: linear-gradient(79.2deg, #97cc04 50%, transparent 50%, transparent), linear-gradient(270deg, #97cc04 50%, #97cc04 50%, #ffffff 20%);
    }
}

.screen_nine {
    .price {
        display: flex;
        justify-content: space-around;

        h3 {
            color: #ff6700;
            font-weight: bold;
            padding-left: 3rem;
            font-size: 2.2rem;
            position: relative;
            margin-bottom: 1rem;

            &::after {
                content: '';
                position: absolute;
                width: 568px;
                height: 3px;
                background: #b3da4a;
                bottom: -5px;
                left: 42px;
                ;
            }
        }

        .left,
        .right {
            width: 40%;
        }

        li {
            font-size: 1.4rem;
            list-style-type: none;
            padding-bottom: 1rem;
            line-height: 1.5;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 12px;
                height: 12px;
                border-top: 1px solid #000;
                border-left: 1px solid #000;
                box-shadow: 2px 1px 0px 1px #000;
                top: 8px;
                left: -17px;
            }
        }
    }
}

.screen_teen {
    h3 {
        padding-left: 6rem;
        font-size: 2rem;
        text-transform: uppercase;
        color: #ff6700;
        position: relative;
        margin-bottom: 4rem;

        &::before {
            position: absolute;
            content: '';
            background: url(../images/doc.png) no-repeat left;
            width: 53px;
            height: 61px;
            top: 6px;
            left: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 725px;
            height: 3px;
            background: #b3da4a;
            bottom: -34px;
            left: 81px;
        }
    }

    h4 {
        font-size: 2.1rem;
        font-weight: bold;
        margin: 0;
        margin-left: 1.7rem;
    }

    .con {
        li {
            font-size: 1.5rem;
            list-style-type: none;
            padding-bottom: 1rem;
            line-height: 1.5;
            position: relative;
            padding-left: 15px;

            &::before {
                position: absolute;
                content: '';
                width: 12px;
                height: 12px;
                border-top: 1px solid #000;
                border-left: 1px solid #000;
                box-shadow: 2px 1px 0px 1px #000;
                top: 8px;
                left: -17px;
            }
        }

        p {
            display: inline-block;
            margin: 0;
            font-size: 1.4rem;
            font-weight: bold;
            font-style: italic;
            border-bottom: 3px solid #b3da4a;
        }
    }

    .adv {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            background: url(../images/men_main.jpg) no-repeat top right;
            background-size: contain;
            width: 329px;
            height: 257px;
            right: 20%;
            top: 0;
        }

        li {
            list-style-type: decimal;
            line-height: 3;
            font-size: 1.8rem;
            position: relative;
            padding-left: 2rem;

            &::before {
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background: #ff6700;
                top: 19px;
                left: -42px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 5px;
                height: 36px;
                background: #b3da4a;
                top: -16px;
                left: -23px;
            }
        }

        .one {
            &::after {
                display: none;
            }
        }

        span {
            position: absolute;
            left: -28px;
            top: -3px;
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

 