header,
.menu-burger {
  max-width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  height: 100px;
  margin-bottom: 3.25rem; }
  header form,
  .menu-burger form {
    position: relative; }
    header form input,
    .menu-burger form input {
      width: 215px;
      border-radius: 15px;
      height: 35px;
      padding: 0 15px 0 35px;
      font-size: 13pt;
      border: none;
      color: #505fa0;
      background-color: #F2F6F9;
      font-weight: bold; }
      header form input::-webkit-input-placeholder,
      .menu-burger form input::-webkit-input-placeholder {
        color: #505fa0; }
      header form input::-moz-placeholder,
      .menu-burger form input::-moz-placeholder {
        color: #505fa0; }
      header form input:-ms-input-placeholder,
      .menu-burger form input:-ms-input-placeholder {
        color: #505fa0; }
      header form input::-ms-input-placeholder,
      .menu-burger form input::-ms-input-placeholder {
        color: #505fa0; }
      header form input::placeholder,
      .menu-burger form input::placeholder {
        color: #505fa0; }
    header form button,
    .menu-burger form button {
      position: absolute;
      left: 10px;
      top: 30%;
      width: 15px;
      height: 15px;
      background: none;
      border: none;
      background-image: url(../img/search.svg);
      cursor: pointer; }
  header ul,
  .menu-burger ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    header ul li,
    .menu-burger ul li {
      position: relative;
      margin-left: 30px; }
      header ul li:first-child,
      .menu-burger ul li:first-child {
        margin-left: 0; }
      header ul li:nth-child(3) > a,
      header ul li:nth-child(6) > a,
      .menu-burger ul li:nth-child(3) > a,
      .menu-burger ul li:nth-child(6) > a {
        z-index: 30; }
    header ul a:hover + .submenu,
    .menu-burger ul a:hover + .submenu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    header ul .submenu,
    .menu-burger ul .submenu {
      display: none;
      position: absolute;
      left: -7px;
      top: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 200px;
      border: 2px solid #505fa0;
      border-radius: 10px;
      background-color: #fff;
      z-index: 10;
      -webkit-box-shadow: 0px 0px 17px -8px black;
              box-shadow: 0px 0px 17px -8px black; }
      header ul .submenu:hover,
      .menu-burger ul .submenu:hover {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      header ul .submenu li,
      .menu-burger ul .submenu li {
        margin: 0;
        padding: 5px; }
        header ul .submenu li:first-child,
        .menu-burger ul .submenu li:first-child {
          padding-top: 2rem; }
    header ul a,
    .menu-burger ul a {
      position: relative;
      font-size: 14pt;
      color: black;
      font-weight: bold;
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      header ul a:hover,
      .menu-burger ul a:hover {
        color: #405089; }
      header ul a:active,
      .menu-burger ul a:active {
        color: #364572; }
    header ul a > span,
    .menu-burger ul a > span {
      position: absolute;
      top: -4px;
      right: -18px;
      display: block;
      font-size: 1.8rem;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; }
      header ul a > span:hover,
      .menu-burger ul a > span:hover {
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg); }
    header ul a:hover > span,
    .menu-burger ul a:hover > span {
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  header .map,
  .menu-burger .map {
    position: relative;
    margin-left: 2rem;
    font-size: 1.06rem;
    font-weight: 600;
    color: #505fa0;
    border-bottom: 1px #505fa0 dotted;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }
    header .map:hover,
    .menu-burger .map:hover {
      color: #405089; }
    header .map::before,
    .menu-burger .map::before {
      position: absolute;
      content: ' ';
      top: 5px;
      left: -19px;
      width: 15px;
      height: 15px;
      background-image: url(../img/map.svg); }
  header .private,
  .menu-burger .private {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .private .bell,
    .menu-burger .private .bell {
      width: 9px;
      height: 11px;
      margin-right: 10px;
      background-color: #f2f6f9;
      padding: 8px 10px;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      border-radius: 10px;
      border: 1px solid #fff;
      cursor: pointer;
      -webkit-transition: border 0.5s;
      -o-transition: border 0.5s;
      transition: border 0.5s; }
      header .private .bell:hover,
      .menu-burger .private .bell:hover {
        border: 1px solid rgba(80, 95, 160, 0.5); }
      header .private .bell:active,
      .menu-burger .private .bell:active {
        border: 1px solid #505fa0; }
    header .private a,
    .menu-burger .private a {
      display: block;
      width: 48px; }
      header .private a img,
      .menu-burger .private a img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
  header .burger,
  .menu-burger .burger {
    position: relative;
    bottom: -23px;
    right: 5px;
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    height: 36px;
    width: 36px;
    background: #505fa0;
    border-radius: 50%;
    margin-bottom: 3rem;
    z-index: 999; }
    header .burger .burger-line,
    .menu-burger .burger .burger-line {
      position: relative;
      display: block;
      background: #fff;
      width: 25px;
      height: 3px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
      header .burger .burger-line::after,
      .menu-burger .burger .burger-line::after {
        position: absolute;
        content: '';
        background: #fff;
        width: 25px;
        height: 3px;
        top: 5px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      header .burger .burger-line::before,
      .menu-burger .burger .burger-line::before {
        position: absolute;
        content: '';
        background: #fff;
        width: 25px;
        height: 3px;
        top: -5px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    header .burger .active-burger,
    .menu-burger .burger .active-burger {
      width: 15px;
      margin-left: 11px; }
      header .burger .active-burger::after,
      .menu-burger .burger .active-burger::after {
        width: 25px; }
      header .burger .active-burger::before,
      .menu-burger .burger .active-burger::before {
        width: 5px; }
