@font-face {
    font-family: "SegoeUI-Bold";
    src: url('../fonts/SegoeUI-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "SegoeUI-Light";
    src: url('../fonts/SegoeUI-Light.ttf') format("truetype");
}

@font-face {
    font-family: "SegoeUI-SemiBold";
    src: url('../fonts/SegoeUI-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: "UniSansBold";
    src: url('../fonts/UniSansBold.ttf') format("truetype");
}