footer {
    width: 100%;
    min-height: 140px;
    padding: 0 1.82vw;
    background-color: #fcfcfc;
}

footer .column {
    width: 33.33%;
}

footer .privacy, footer .development {
    display: block;
    color: #2f2f2f;
    font-family: "SegoeUI-Light";
}

footer .privacy {
    font-size: 16px;
    line-height: 140px;
    text-decoration: underline;
    text-align: center;
}

footer .development {
    display: block;
    position: absolute;
    right: 0;
    
    font-size: 14px;
    line-height: 20px;
    margin-top: 58px;
    text-align: left;
}