#last-group h2 {
    margin: 90px 0 20px 0;
    
    color: #000000;
    font-family: "SegoeUI-SemiBold";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

#gallery {
    position: relative;
    
    width: 1170px;
    
    margin: 50px auto;
}

.slick-container, .slides-group {
    width: 100%;
    height: 575px;
}

.slick-container .slick-dots {
    display: none !important;
}

.gallery-mobile {
    display: none;
}

#gallery .switch {
    width: 190px;
    height: 55px;
    
    position: absolute;
    top: 0;
    left: 0;
    
    background: #ffffff;
    z-index: 999;
}

#gallery .switch .counter {
    width: 80px;
    height: 55px;
    
    line-height: 52px;
    text-align: center;
    
    color: #000000;
    font-family: "SegoeUI-Light";
    font-size: 20px;
}

#gallery .switch .btn {
    width: 55px;
    height: 55px;
    background-color: #ffb945;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#gallery .switch .btn img {
    display: block;
    height: 22px;
    margin: 16px auto;
}

#gallery .switch .btn.forward img {
    transform: rotate(180deg);
}

#gallery .switch {
    
}

#gallery .n1 {
    width: 760px;
    height: 575px;
}

#gallery .n2 {
    width: 760px;
    height: 330px;
}

#gallery .n3 {
    width: 760px;
    height: 230px;
    
    position: absolute;
    bottom: 0;
}

#gallery .n4 {
    width: 325px;
    height: 230px;
}

#gallery .n5 {
    width: 420px;
    height: 230px;
}

#gallery .n6 {
    width: 395px;
    height: 575px;
}

#gallery .n7 {
    width: 395px;
    height: 210px;
}

#gallery .n8 {
    width: 395px;
    height: 350px;
    
    position: absolute;
    bottom: 0;
}

#gallery .slide {
    background-size: cover;
    background-position: center center;
}

.alt-gallery, .alt-switch {
    display: none;
}