* {
    padding: 0;
    margin: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    text-decoration: none;
}

body {
    overflow-x:hidden;
}

#mob_surprise {
    display: none;
}

.hide {
    display: none !important;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: nowrap;
}

.flex.sb {
    justify-content: space-between;
}

.clr-pink {
    color: #336051;
}

.column {
    position: relative;
}

#first-group {
    width: 100%;
/*    height: 850px;*/
    
    background-image: url('../images/header_bg_pc.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#last-group {
    width: 100%;
    height: 1130px;
    
    background-image: url('../images/footer_bg_pc.jpg');
    background-size: contain;
    background-position: -32% 103px;
    background-repeat: no-repeat;
}